# Slafternoon Delight
## Fantasy helper

We can use this sheet to update our player stats and help inform our roster moves.

In [1]:
from fantasyhelper import stats
import jupyter_black

jupyter_black.load()

In [2]:
try:
    data = stats.load_data("nhl_data.h5")
except FileNotFoundError:
    stats.update_data("nhl_data.h5", date="2025-01-20")
    data = stats.load_data("nhl_data.h5")

Loading data from HDF5...
Loaded: df_fantasy_rosters, df_goalies, df_skaters, df_teams, df_week, df_week/meta/values_block_2/meta, df_week/meta/values_block_1/meta, df_teams/meta/values_block_1/meta, df_skaters/meta/values_block_0/meta, df_goalies/meta/values_block_0/meta, df_fantasy_rosters/meta/values_block_0/meta

In [3]:
df_skaters = data["df_skaters"]
df_skaters.head()

,LastName,FullName,team,FullTeam,position,GP,G,A,PPP,SHP,GWG,SOG,+/-,PIM,FW,HIT
playerId,,,,,,,,,,,,,,,,
8477492,MacKinnon,Nathan MacKinnon,COL,Colorado Avalanche,C,79.0,32.0,84.0,38.0,0.0,5.0,320.0,25.0,41.0,756.0,38.0
8477934,Draisaitl,Leon Draisaitl,EDM,Edmonton Oilers,C,71.0,52.0,54.0,33.0,0.0,11.0,240.0,32.0,34.0,650.0,23.0
8477956,Pastrnak,David Pastrnak,BOS,Boston Bruins,R,82.0,43.0,63.0,23.0,0.0,4.0,319.0,0.0,42.0,3.0,58.0
8478483,Marner,Mitchell Marner,VGK,Vegas Golden Knights,R,81.0,27.0,75.0,33.0,2.0,7.0,173.0,18.0,14.0,10.0,49.0
8478402,McDavid,Connor McDavid,EDM,Edmonton Oilers,C,67.0,26.0,74.0,31.0,0.0,3.0,196.0,20.0,37.0,370.0,40.0

In [4]:
df_teams = data["df_teams"]
df_teams.head()

                             name abbr
franchise_id
32                  Anaheim Ducks  ANA
6                   Boston Bruins  BOS
19                 Buffalo Sabres  BUF
21                 Calgary Flames  CGY
26            Carolina Hurricanes  CAR

In [5]:
df_week = data["df_week"]
df_week.head()

                            date homeTeam awayTeam
gameId
2024020740  2025-01-20T18:00:00Z      BOS      SJS
2024020741  2025-01-20T20:00:00Z      COL      MIN
2024020742  2025-01-20T21:00:00Z      SEA      BUF
2024020743  2025-01-20T23:00:00Z      VGK      STL
2024020744  2025-01-21T00:30:00Z      TOR      TBL

In [6]:
df_goalies = data["df_goalies"]
df_goalies.head()

,LastName,FullName,team,position,GP,W,GAA,SV%,SHO
playerId,,,,,,,,,
8476883,Vasilevskiy,Andrei Vasilevskiy,TBL,G,63,38,2.18002,0.92132,6
8479979,Oettinger,Jake Oettinger,DAL,G,58,36,2.58645,0.90875,2
8475683,Bobrovsky,Sergei Bobrovsky,FLA,G,54,33,2.43751,0.90559,5
8478499,Hill,Adin Hill,VGK,G,50,32,2.46920,0.90641,4
8480313,Thompson,Logan Thompson,WSH,G,43,31,2.48506,0.91040,2

In [7]:
df_fantasy_rosters = data["df_fantasy_rosters"]
df_fantasy_rosters.head()

,fantasy_team,manager,fantasy_team_id,FullName,lastName,team,player_id_yahoo,position
0,Filet O’McTavish,Henry,453.l.21077.t.1,John Carlson,Carlson,WSH,4503,"[D, Util]"
1,Filet O’McTavish,Henry,453.l.21077.t.1,Evander Kane,Kane,VAN,4684,"[LW, Util]"
2,Filet O’McTavish,Henry,453.l.21077.t.1,Radko Gudas,Gudas,ANA,5039,"[D, Util]"
3,Filet O’McTavish,Henry,453.l.21077.t.1,Frederik Andersen,Andersen,CAR,5161,G
4,Filet O’McTavish,Henry,453.l.21077.t.1,Darcy Kuemper,Kuemper,NaN,5336,G

In [8]:
df_week["awayTeam"].value_counts() + df_week["homeTeam"].value_counts()

ANA    3
BOS    4
BUF    4
CAR    4
CBJ    4
CGY    3
CHI    3
COL    4
DAL    3
DET    3
EDM    3
FLA    4
LAK    3
MIN    4
MTL    3
NJD    2
NSH    3
NYI    3
NYR    3
OTT    4
PHI    3
PIT    3
SEA    3
SJS    4
STL    3
TBL    4
TOR    3
UTA    4
VAN    3
VGK    4
WPG    4
WSH    3
Name: count, dtype: int64