# Slafternoon Delight
## Fantasy helper

We can use this sheet to update our player stats and help inform our roster moves.

In [1]:
from src.fantasyhelper import stats
import jupyter_black
from nhlpy.nhl_client import NHLClient


client = NHLClient()


jupyter_black.load()

In [2]:
try:
    data = stats.load_data("nhl_data.h5")
except FileNotFoundError:
    stats.update_data("nhl_data.h5", date="2025-01-20")
    data = stats.load_data("nhl_data.h5")

Loading data from HDF5...
Loaded: df_goalies, df_skaters, df_teams, df_week

In [3]:
df_skaters = data["df_skaters"]
df_skaters

,LastName,FullName,team,FullTeam,position,GP,G,A,PPP,SHP,GWG,SOG,+/-,PIM,FW,HIT
playerId,,,,,,,,,,,,,,,,
8477492,MacKinnon,Nathan MacKinnon,COL,Colorado Avalanche,C,79.0,32.0,84.0,38.0,0.0,5.0,320.0,25.0,41.0,756.0,38.0
8477934,Draisaitl,Leon Draisaitl,EDM,Edmonton Oilers,C,71.0,52.0,54.0,33.0,0.0,11.0,240.0,32.0,34.0,650.0,23.0
8477956,Pastrnak,David Pastrnak,BOS,Boston Bruins,R,82.0,43.0,63.0,23.0,0.0,4.0,319.0,0.0,42.0,3.0,58.0
8478483,Marner,Mitchell Marner,VGK,Vegas Golden Knights,R,81.0,27.0,75.0,33.0,2.0,7.0,173.0,18.0,14.0,10.0,49.0
8478402,McDavid,Connor McDavid,EDM,Edmonton Oilers,C,67.0,26.0,74.0,31.0,0.0,3.0,196.0,20.0,37.0,370.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8481600,Bjornfot,Tobias Bjornfot,FLA,Florida Panthers,D,14.0,0.0,0.0,0.0,0.0,0.0,10.0,-3.0,2.0,0.0,13.0
8477073,MacDermid,Kurtis MacDermid,NJD,New Jersey Devils,L,23.0,0.0,0.0,0.0,0.0,0.0,7.0,-5.0,23.0,0.0,40.0
8479543,Pezzetta,Michael Pezzetta,TOR,Toronto Maple Leafs,L,25.0,0.0,0.0,0.0,0.0,0.0,14.0,-2.0,24.0,2.0,73.0
8480259,Jones,Ben Jones,MIN,Minnesota Wild,C,26.0,0.0,0.0,0.0,0.0,0.0,24.0,-3.0,10.0,12.0,51.0
8478454,Juulsen,Noah Juulsen,PHI,Philadelphia Flyers,D,35.0,0.0,0.0,0.0,0.0,0.0,26.0,-12.0,21.0,0.0,101.0

In [4]:
df_teams = data["df_teams"]
df_teams

                               name abbr
franchise_id
32                    Anaheim Ducks  ANA
6                     Boston Bruins  BOS
19                   Buffalo Sabres  BUF
21                   Calgary Flames  CGY
26              Carolina Hurricanes  CAR
11               Chicago Blackhawks  CHI
27               Colorado Avalanche  COL
36            Columbus Blue Jackets  CBJ
15                     Dallas Stars  DAL
12                Detroit Red Wings  DET
25                  Edmonton Oilers  EDM
33                 Florida Panthers  FLA
14                Los Angeles Kings  LAK
37                   Minnesota Wild  MIN
1                MontrÃ©al Canadiens  MTL
34              Nashville Predators  NSH
23                New Jersey Devils  NJD
22               New York Islanders  NYI
10                 New York Rangers  NYR
30                  Ottawa Senators  OTT
16              Philadelphia Flyers  PHI
17              Pittsburgh Penguins  PIT
29                  San Jose Sharks  SJS
39                   Seattle Kraken  SEA
18                  St. Louis Blues  STL
31              Tampa Bay Lightning  TBL
5               Toronto Maple Leafs  TOR
40                 Utah Hockey Club  UTA
20                Vancouver Canucks  VAN
38             Vegas Golden Knights  VGK
24              Washington Capitals  WSH
35                    Winnipeg Jets  WPG

In [5]:
df_habs = stats.fetch_roster("MTL")
df_habs

         firstName      lastName positionCode team
id
8476981       Josh      Anderson            R  MTL
8476469       Joel         Armia            R  MTL
8481540       Cole      Caufield            R  MTL
8481523      Kirby          Dach            C  MTL
8484984       Ivan       Demidov            R  MTL
8477989  Christian        Dvorak            C  MTL
8478133       Jake         Evans            C  MTL
8475848    Brendan     Gallagher            R  MTL
8479339     Patrik         Laine            R  MTL
8481618       Alex       Newhook            C  MTL
8479543    Michael      Pezzetta            L  MTL
8483515      Juraj    SlafkovskÃ½            L  MTL
8480018       Nick        Suzuki            C  MTL
8478851  Alexandre       Carrier            D  MTL
8480865       Noah        Dobson            D  MTL
8482087     Kaiden         Guhle            D  MTL
8483457       Lane        Hutson            D  MTL
8476875       Mike      Matheson            D  MTL
8475233      David        Savard            D  MTL
8481593     Jayden       Struble            D  MTL
8482964      Arber        Xhekaj            D  MTL
8482487      Jakub         Dobes            G  MTL
8478470        Sam  Montembeault            G  MTL

In [6]:
df_week = data["df_week"]
df_week

                            date homeTeam awayTeam
gameId
2024020740  2025-01-20T18:00:00Z      BOS      SJS
2024020741  2025-01-20T20:00:00Z      COL      MIN
2024020742  2025-01-20T21:00:00Z      SEA      BUF
2024020743  2025-01-20T23:00:00Z      VGK      STL
2024020744  2025-01-21T00:30:00Z      TOR      TBL
2024020745  2025-01-21T00:30:00Z      NYI      CBJ
2024020746  2025-01-21T01:30:00Z      CHI      CAR
2024020747  2025-01-21T02:30:00Z      UTA      WPG
2024020748  2025-01-21T03:30:00Z      LAK      PIT
2024020749  2025-01-22T00:00:00Z      MTL      TBL
2024020750  2025-01-22T00:00:00Z      NYR      OTT
2024020751  2025-01-22T00:00:00Z      PHI      DET
2024020752  2025-01-22T01:00:00Z      NSH      SJS
2024020753  2025-01-22T01:00:00Z      DAL      CAR
2024020754  2025-01-22T02:00:00Z      EDM      WSH
2024020755  2025-01-22T03:00:00Z      VAN      BUF
2024020756  2025-01-22T03:00:00Z      ANA      FLA
2024020758  2025-01-23T00:00:00Z      NJD      BOS
2024020757  2025-01-23T00:30:00Z      TOR      CBJ
2024020759  2025-01-23T02:30:00Z      COL      WPG
2024020760  2025-01-23T03:00:00Z      LAK      FLA
2024020761  2025-01-24T00:00:00Z      BOS      OTT
2024020762  2025-01-24T00:00:00Z      DET      MTL
2024020763  2025-01-24T00:00:00Z      NYR      PHI
2024020764  2025-01-24T00:00:00Z      CAR      CBJ
2024020765  2025-01-24T01:00:00Z      STL      VGK
2024020766  2025-01-24T01:00:00Z      MIN      UTA
2024020767  2025-01-24T02:00:00Z      CGY      BUF
2024020768  2025-01-24T02:00:00Z      EDM      VAN
2024020769  2025-01-24T03:00:00Z      ANA      PIT
2024020770  2025-01-24T03:00:00Z      SEA      WSH
2024020771  2025-01-24T03:30:00Z      SJS      NSH
2024020772  2025-01-25T00:30:00Z      NYI      PHI
2024020774  2025-01-25T00:30:00Z      DAL      VGK
2024020773  2025-01-25T01:00:00Z      CHI      TBL
2024020775  2025-01-25T01:00:00Z      WPG      UTA
2024020776  2025-01-25T18:00:00Z      BOS      COL
2024020777  2025-01-25T21:00:00Z      EDM      BUF
2024020778  2025-01-25T21:00:00Z      SEA      PIT
2024020779  2025-01-26T00:00:00Z      MTL      NJD
2024020780  2025-01-26T00:00:00Z      OTT      TOR
2024020781  2025-01-26T00:00:00Z      DET      TBL
2024020782  2025-01-26T00:00:00Z      CBJ      LAK
2024020783  2025-01-26T00:00:00Z      STL      DAL
2024020784  2025-01-26T00:00:00Z      MIN      CGY
2024020785  2025-01-26T00:30:00Z      NYI      CAR
2024020786  2025-01-26T03:00:00Z      VAN      WSH
2024020787  2025-01-26T03:00:00Z      ANA      NSH
2024020788  2025-01-26T03:00:00Z      SJS      FLA
2024020789  2025-01-26T18:00:00Z      NYR      COL
2024020790  2025-01-26T22:00:00Z      OTT      UTA
2024020791  2025-01-26T23:00:00Z      WPG      CGY
2024020792  2025-01-27T00:00:00Z      CHI      MIN
2024020793  2025-01-27T01:00:00Z      VGK      FLA

In [7]:
df_goalies = data["df_goalies"]
df_goalies

,LastName,FullName,team,position,GP,W,GAA,SV%,SHO
playerId,,,,,,,,,
8476883,Vasilevskiy,Andrei Vasilevskiy,TBL,G,63,38,2.18002,0.92132,6
8479979,Oettinger,Jake Oettinger,DAL,G,58,36,2.58645,0.90875,2
8475683,Bobrovsky,Sergei Bobrovsky,FLA,G,54,33,2.43751,0.90559,5
8478499,Hill,Adin Hill,VGK,G,50,32,2.46920,0.90641,4
8480313,Thompson,Logan Thompson,WSH,G,43,31,2.48506,0.91040,2
...,...,...,...,...,...,...,...,...,...
8480885,Rodrigue,Olivier Rodrigue,EDM,G,2,0,3.10010,0.86206,0
8481529,Miner,Trent Miner,COL,G,2,0,2.61913,0.87878,0
8482123,Commesso,Drew Commesso,CHI,G,2,0,3.36370,0.84615,0
8482661,Wallstedt,Jesper Wallstedt,MIN,G,2,0,4.08742,0.84313,0
8484312,Romanov,Georgi Romanov,SJS,G,8,0,3.88551,0.87671,0