# Slafternoon Delight
## Fantasy helper 

We can use this sheet to update our player stats and help inform our roster moves.

In [1]:
from src.fantasyhelper import stats
import pandas as pd
import jupyter_black

jupyter_black.load()

In [2]:
teams_df = stats.get_teams()
teams_df

                               name abbr
franchise_id
32                    Anaheim Ducks  ANA
6                     Boston Bruins  BOS
19                   Buffalo Sabres  BUF
21                   Calgary Flames  CGY
26              Carolina Hurricanes  CAR
11               Chicago Blackhawks  CHI
27               Colorado Avalanche  COL
36            Columbus Blue Jackets  CBJ
15                     Dallas Stars  DAL
12                Detroit Red Wings  DET
25                  Edmonton Oilers  EDM
33                 Florida Panthers  FLA
14                Los Angeles Kings  LAK
37                   Minnesota Wild  MIN
1                Montréal Canadiens  MTL
34              Nashville Predators  NSH
23                New Jersey Devils  NJD
22               New York Islanders  NYI
10                 New York Rangers  NYR
30                  Ottawa Senators  OTT
16              Philadelphia Flyers  PHI
17              Pittsburgh Penguins  PIT
29                  San Jose Sharks  SJS
39                   Seattle Kraken  SEA
18                  St. Louis Blues  STL
31              Tampa Bay Lightning  TBL
5               Toronto Maple Leafs  TOR
40                 Utah Hockey Club  UTA
20                Vancouver Canucks  VAN
38             Vegas Golden Knights  VGK
24              Washington Capitals  WSH
35                    Winnipeg Jets  WPG

In [3]:
habs_df = stats.get_roster("MTL")
habs_df

         firstName      lastName positionCode team
id
8476981       Josh      Anderson            R  MTL
8476469       Joel         Armia            R  MTL
8481540       Cole      Caufield            R  MTL
8481523      Kirby          Dach            C  MTL
8484984       Ivan       Demidov            R  MTL
8477989  Christian        Dvorak            C  MTL
8478133       Jake         Evans            C  MTL
8475848    Brendan     Gallagher            R  MTL
8479339     Patrik         Laine            R  MTL
8481618       Alex       Newhook            C  MTL
8479543    Michael      Pezzetta            L  MTL
8483515      Juraj    Slafkovský            L  MTL
8480018       Nick        Suzuki            C  MTL
8478851  Alexandre       Carrier            D  MTL
8480865       Noah        Dobson            D  MTL
8482087     Kaiden         Guhle            D  MTL
8483457       Lane        Hutson            D  MTL
8476875       Mike      Matheson            D  MTL
8475233      David        Savard            D  MTL
8481593     Jayden       Struble            D  MTL
8482964      Arber        Xhekaj            D  MTL
8482487      Jakub         Dobes            G  MTL
8478470        Sam  Montembeault            G  MTL